body {
    background-color: blue;
}
h1{
    color: white;
}
.text {
    color: chartreuse;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}